@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Eagle+Lake&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
audio {
    display: none;
}
header {
    position: fixed;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background {
    background: url("../images/home_bg.jpg");
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header, nav {
    display: flex;
}

#logo, nav > ul > li > a {
    color: white;
}

#logo a {
    font-size: 20px;
    font-weight: 800;
}
nav > ul > li {
    display: inline-block;
    margin: 0 10px;
}
nav > ul > li > a {
    font-family: 'Alegreya', serif;
    text-decoration: none;
    font-size: 20px;
}
nav > ul > li > a:hover {
    color: rgb(174, 172, 104);
}
.ontop-text {
    font-family: 'Eagle Lake', cursive;
    color: white;
    text-shadow: black 1px 0 10px;
}

main {
    height: 100vh;
    box-sizing: border-box;
    padding: 60px 10vw;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto;
    column-gap: 3vw;
}

.description {
    position: relative;
    background-color: white;
    border-radius: 20px;
}

.title {
    box-sizing: border-box;
    width: 100%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    height: 45px;
    vertical-align: center;
}

.content {
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.content::-webkit-scrollbar { 
    display: none;
}

.control-panel {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.controls {
    background-color: rgba(48, 48, 48, 0.7);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 25vh;
    align-items: stretch;
    border-radius: 20px;
    margin-bottom: 2vw;
}

.movement-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: normal;
    width: fit-content;
    height: fit-content;
}

.direction {
    background-color: black;
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    width: 50px;
    height: 40px;
}

#n-button {
    grid-column: 2;
    grid-row: 1;
}
#w-button {
    grid-column: 1;
    grid-row: 2;
}
#s-button {
    grid-column: 2;
    grid-row: 3;
}
#e-button {
    grid-column: 3;
    grid-row: 2;
}

.commands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 1vh;
    background-color: rgb(174, 172, 104);
    border-radius: 0px 20px 20px 0px;
}

.auxiliary {
    background: none;
    border: none;
    font-size: 20px;
}

.text-command {
    background-color: white;
    flex-grow: 1;
    border-radius: 20px;
    position: relative;
    white-space: nowrap;
    overflow-x: hidden;
}

.text-command label {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 16px;
    height: 45px;
}

#command {
    border: none;
    margin-left: 10px;
    font-size: 16px;
    font-family: "Alegreya", sans-serif;
    display: inline;
}

#command:focus {
    outline: none;
}

#log-pane {
    margin-top: 45px;
    font-size: 16px;
    font-family: "Alegreya", sans-serif;
    padding: 10px 20px;
}

.chapter {
    opacity: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s ease-in-out;
}

.chapter h1 {
    color: rgb(174, 172, 104);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.chapter h2 {
    font-family: "Eagle Lake", sans-serif;
    color: white;
}

.chapter hr {
    width: 60%;
    border: 1px solid rgb(174, 172, 104);
    margin: 3vh 10vw;
    margin-top: 1vh;
}