@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Eagle+Lake&family=Montserrat:wght@300&display=swap');

* {
    margin: 0 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background {
    background: url("../images/home_bg.jpg");
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header, nav {
    display: flex;
}

#logo, nav > ul > li > a {
    color: white;
}

#logo a {
    font-size: 20px;
    font-weight: 800;
}
nav > ul > li {
    display: inline-block;
    margin: 0 10px;
}
nav > ul > li > a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
}
nav > ul > li > a:hover {
    color: rgb(174, 172, 104);
}
.ontop-text {
    font-family: 'Eagle Lake', cursive;
    color: white;
    text-shadow: black 1px 0 10px;
}

main {
    height: 100vh;
    box-sizing: border-box;
    padding: 60px 10vw;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto;
    column-gap: 3vw;
}

.description {
    position: relative;
    background-color: white;
}

.control-panel {
    background-color: rgba(0, 0, 0, 0.7);
}