@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Eagle+Lake&family=Montserrat:wght@300&display=swap');

* {
    margin: 0 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.background {
    background: url("../images/home_bg.jpg");
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header, nav {
    display: flex;
}

#logo, nav > ul > li > a {
    color: white;
}

#logo a {
    font-size: 20px;
    font-weight: 800;
}
nav > ul > li {
    display: inline-block;
    margin: 0 10px;
}
nav > ul > li > a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
}
nav > ul > li > a:hover {
    color: rgb(174, 172, 104);

}

main {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

main::-webkit-scrollbar {
    width: 1em;
}
   
main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
main::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.hidden {
    transform: translateY(20px);
    opacity: 0;
}

.hidden.reveal {
    transform: translateY(0);
    opacity: 1;
}

.scroller section {
    height: 100vh;
    scroll-snap-align: start;
}

.ontop-text {
    font-family: 'Eagle Lake', cursive;
    color: white;
    text-shadow: black 1px 0 10px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    padding-top: clamp(60px,15vh,100px);
    box-sizing: border-box;
}

#introduction {
    margin: auto;
    text-align: center;
}

#introduction h1 {
    font-size: 45px;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

#introduction p {
    font-size: 17px;
    margin-top: 18px;
    transition: opacity 0.6s 0.2s ease-in-out, transform 0.6s 0.2s ease-in-out;
}

#introduction button {
    display: block;
    margin: 40px auto;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(174, 172, 104);
    font-weight: 1000;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.616);
    border: 3px solid rgb(174, 172, 104);
    transition: opacity 0.6s 0.4s ease-in-out, transform 0.6s 0.4s ease-in-out, color 0.3s ease-in-out, 
    background-color 0.3s ease-in-out;
}

#introduction button:hover {
    background-color: rgb(174, 172, 104);
    color: black;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes hourglass {
    from {transform: rotate(0);}
    to {transform: rotate(12deg);}
}

#about .ontop-text {
    font-size: 16px;
    display: block;
    margin: 0 10vw 0 10vw;
}

#about .ontop-text:nth-of-type(1) {
    width: 60%;
    align-self: flex-start;
    text-align: left;
    margin-bottom: min(40px,8vh);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

#about .ontop-text:nth-of-type(2) {
    width: 60%;
    align-self: flex-end;
    text-align: right;
    margin-top:  min(40px,8vh);
    transition: opacity 0.6s 0.4s ease-in-out, transform 0.6s 0.4s ease-in-out;
}

#description-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#description {
    background-color: rgba(174, 172, 104, 0.9);
    padding: 10px 30px;
    transition: opacity 0.6s 0.1s ease-in-out, transform 0.6s 0.1s ease-in-out;
    margin: 0 5vw 0 10vw;
}

#description p {
    font-family: 'Alegreya', serif;
    font-size: 20px;
    margin: 0;
    margin-block: 15px;
}

#description p:nth-of-type(1) {
    transition: opacity 0.6s 0.2s ease-in-out, transform 0.6s 0.2s ease-in-out;
}

#description p:nth-of-type(2) {
    transition: opacity 0.6s 0.3s ease-in-out, transform 0.6s 0.3s ease-in-out;
}

#description a {
    display: inline;
    color: blanchedalmond;
    text-decoration: underline;
}

#about .img_container {
    margin-right: 10vw;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .img_container img {
    width: 28vh;
    height: 40vh;
    object-fit: fill;
    animation: hourglass 2s linear 2s infinite alternate;
}

#gameplay {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}
#gameplay .grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 4vw;
}
#gameplay .video {
    background-color: grey;
    color: black;
    transition: all 0.6s ease-in-out;
}
#gameplay .container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    font-family: 'Alegreya', serif;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

#gameplay .container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#gameplay .gameplay-description {
    margin-bottom: 30px;
}

#gameplay .ontop-text {
    transition: all 0.6s 0.2s ease-in-out;
}

#gameplay .container div p {
    margin-block: 10px;
}

#gameplay .outer-slide-wrapper {
    flex: 1 0 auto;
    overflow-x: hidden;
    position: relative;
    transition: all 0.6s 0.4s ease-in-out;
}

#gameplay .slide-wrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#gameplay .slide {
    box-sizing: border-box;
    display: none;
    padding: 2vh 5vh;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#gameplay .slide h3 {
    margin-bottom: 1vh;
}

#gameplay .slide:nth-of-type(1) {
    display: flex;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgb(0, 0, 0) 90%),
    url("../images/adventure_img.jpg");
}
#gameplay .slide:nth-of-type(2) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgb(0, 0, 0) 90%),
    url("../images/book_img.jpg");
}
#gameplay .slide:nth-of-type(3) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgb(0, 0, 0) 90%),
    url("../images/objects_img.jpg");
}
#gameplay .slide:nth-of-type(4) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgb(0, 0, 0) 90%),
    url("../images/memory_img.jpg");
}

#gameplay .slide:nth-of-type(5) {
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgb(0, 0, 0) 90%);
}

#gameplay .slide a {
    border: 3px solid rgb(174, 172, 104);
    color:  rgb(174, 172, 104);
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease-in-out;
}

#gameplay .slide a:hover {
    background-color: rgb(174, 172, 104);
    color: black;
}

#gameplay .outer-slide-wrapper button {
    position: absolute;
    top: 45%;
    border: none;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-shadow: 0px 0px 20px #000000;
    transition: all 0.2s ease-in-out;
}

#gameplay .outer-slide-wrapper button:nth-of-type(1) {
    left:0%;
}

#gameplay .outer-slide-wrapper button:nth-of-type(2) {
    right:0%;
}

#gameplay .outer-slide-wrapper button:hover {
    font-size: 25px;
    transform: translateY(-5px);
}

#contributors {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#contributors .left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contributors img {
    height: 40vh;
}