@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&family=Eagle+Lake&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

button > * {
    pointer-events: none;
}
audio {
    display: none;
}
header {
    position: fixed;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background {
    background: url("../images/home_bg.jpg");
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.loading-page {
    background-color: black;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-page .bar-container {
    width: 50vw;
}

.loading-page .bar-container hr {
    border: none;
    border-top: 15px solid grey;
    animation: expand 5s ease-in-out 0s 1;
    margin-bottom: 20px;
}

@keyframes expand {
    0% {width: 15%;}
    20% {width: 40%;}
    55% {width: 65%;}
    69% {width: 95%;}
    100% {width: 100%;}
}
header, nav {
    display: flex;
}

#logo, nav > ul > li > a {
    color: white;
}

#logo a {
    font-size: 20px;
    font-weight: 800;
}
nav > ul > li {
    display: inline-block;
    margin: 0 10px;
}
nav > ul > li > a {
    font-family: 'Alegreya', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
}
nav > ul > li > a:hover {
    color: rgb(174, 172, 104);
}
.ontop-text {
    font-family: 'Eagle Lake', cursive;
    color: white;
    text-shadow: black 1px 0 10px;
}

main {
    height: 100vh;
    box-sizing: border-box;
    padding: 60px 10vw;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto;
    column-gap: 3vw;
}

.description {
    position: relative;
    background-color: white;
    border-radius: 20px;
}

.title {
    box-sizing: border-box;
    width: 100%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    height: 45px;
    vertical-align: center;
}

.content {
    overflow-y: scroll;
}

.control-panel {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.controls {
    background-color: rgba(48, 48, 48, 0.7);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 25vh;
    align-items: stretch;
    border-radius: 20px;
    margin-bottom: 2vw;
}

.movement-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 5px;
    align-items: normal;
    width: fit-content;
    height: fit-content;
}

.direction {
    background-color: black;
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    width: 50px;
    height: 40px;
}

#n-button {
    grid-column: 2;
    grid-row: 1;
}
#w-button {
    grid-column: 1;
    grid-row: 2;
}
#s-button {
    grid-column: 2;
    grid-row: 3;
}
#e-button {
    grid-column: 3;
    grid-row: 2;
}

.commands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 1vh;
    background-color: rgb(174, 172, 104);
    border-radius: 0px 20px 20px 0px;
}

.auxiliary {
    background: none;
    border: none;
    font-size: 20px;
}

.text-command {
    background-color: white;
    flex-grow: 1;
    border-radius: 20px;
    position: relative;
    overflow-x: hidden;
}

.text-command label {
    
    white-space: nowrap;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 16px;
    height: 45px;
}

#command {
    border: none;
    margin-left: 10px;
    font-size: 16px;
    font-family: "Alegreya", sans-serif;
    font-weight: 400;
    display: inline;
}

#command:focus {
    outline: none;
}

.chapter {
    z-index: 10;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s ease-in-out;
}

.chapter h1 {
    color: rgb(174, 172, 104);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.chapter h2 {
    font-family: "Eagle Lake", sans-serif;
    color: white;
}

.chapter hr {
    width: 60%;
    border: 1px solid rgb(174, 172, 104);
    margin: 3vh 10vw;
    margin-top: 1vh;
}

.content * {
    margin-bottom: 15px;
}

#log-pane {
    margin-top: 45px;
    font-size: 16px;
    font-family: "Alegreya", sans-serif;
    font-weight: 400;
    max-height: 40vh;
    overflow-y: scroll;
    padding: 0px 20px;
}

#log-pane * {
    margin-bottom: 30px;
}

#description-pane {
    font-size: 18px;
    font-family: "Alegreya", sans-serif;
    overflow-y: scroll;
    max-height: 65vh;
    padding: 0px 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.content::-webkit-scrollbar {
    width: 10px;
}
   
.content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#description-pane * {
    margin-bottom: 30px;
}

.pop-up-screen {
    display: flex;
    z-index: 10;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}
.help.pop-up {
    width: 600px;
    height: 80vh;
    background-color: white;
    box-shadow: 0px 0px 10px 5px black;
    border: 1px solid white;
    align-self: center;
    position: absolute;
    font-family: 'Alegreya', sans-serif;
    font-weight: 400;
}

.help-message {
    height: 91%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px 20px;
}

.help-message p,ul {
    margin: 10px 0px;
}

.help-message hr {
    margin-top: 30px;
}

.help-message .list-name {
    font-size: 25px;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 15px;
}

.help-message .note {
    font-style: italic;
}

.pop-up-control {
    height: 9%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 20px;
}

.pop-up-control button {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
}